.navbarBorder {     
    border-right: 1px solid rgba(0, 0, 0, 0.2);    
    height: 30px;
    position: absolute;
    right: 228px;  
    margin-top: 20px;     
}

.ui.secondary.menu {
    height: 70px;
}

.ui.secondary.menu .dropdown.item {
    display: none;
}

@media only screen and (max-width: 768px) {
    .ui.secondary.menu .item,
    .ui.secondary.menu .menu {
        display: none;
    }

    .navbarBorder {
        display: none;
    }
    
    .ui.secondary.menu .icon-logo,
    .ui.secondary.menu .dropdown.item {
        display: block;
    }
}
  